.notification-times {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns as needed */
    grid-gap: 10px; /* Adjust the gap between columns as needed */
  }
  
  .site-container {
    display: flex;
    align-items: center;
  }
  